body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}
/* header */


.header {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-logo, .logo-right {
    display: flex;
}

.header-logo {
    justify-content: space-between;
}

.logo-right {
    font-size: 18px;
    gap: 20px;
    margin-right: 300px;
    padding-top: 10px;

}
.header-logo #logo{
    font-size: 24px;
    margin-left: 300px;
    padding-top: 10px;
    font-weight: bold;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 100px;
}

.content-text div strong {
    font-size: 48px;
    font-weight: 900;
}

.b1{
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
}
.content-text {
    display: flex;
    flex-direction: column;
    width: 450px;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 10px;
}

/* Information */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.information {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    margin-top: 50px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.img img {
    border-radius: 15px;
    background-color: blue;
    padding: 3px;
}
.img {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-wrap: wrap;
    padding-top: 50px;
    text-align: center;
    gap: 5px;
    color: grey;
}

/* quote */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}
.text, .god {
    width: 700px;
}
.god {
    text-align: end;
    font-weight: 900;
    font-size: 23px;
}
.quote .text {
    font-size: 36px;
}

/* sign */

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    height: 150px;
    width: 1200px;
    background-color: #3882F6;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}

.signup {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 23px;
}

.edit {
    font-size: 15px;
}
.b2 {
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 3px;
    border: 2px solid white;
    color: white;
}

/* footer */

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
